.Contact {
	border-radius: 10px;
	padding: 25px;
	width: 100%;
	max-width: 500px;
}

.Contact > h5 {
	text-align: center;
}

.contact-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contact-form > input,
.contact-form > textarea {
	width: 100%;
	padding: 5px;
	border: none;
	margin: 2px;
}

.contact-form > textarea {
	max-height: 100px;
	max-width: 100%;
	min-width: 100%;
	min-height: 100px;
	z-index: 1;
}

.name-input {
	width: 200px;
}

.contact-submit-button {
	padding: 5px 20px;
	border: none;
	margin-top: 20px;
}

.sent {
	background-color: green;
	z-index: -1;
	position: absolute;
	transform: translateY(40px);
	padding: 3px;
	color: white;
}

.isSending {
	pointer-events: none;
}

.sent-slide-enter {
	transform: translateY(40px);
}
.sent-slide-enter-active {
	transform: translateY(65px);
	transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.sent-slide-exit {
	transform: translateY(65px);
}

.sent-slide-exit-active {
	transform: translateY(40px);
	transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1);
	/* transition-delay: 2s; */
}
