.project-list-container {
	height: 100%;
}

.project-card {
	display: grid;
	grid-template-columns: 200px 150px;
	grid-template-rows: 150px 25px;
	padding: 5px;
	border-radius: 5px;
	margin: 0px 25px;
	border: 2px solid black;
}

.project-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: cover;
	border-radius: 5px;
}

.project-links a {
	flex: 1;
	text-align: center;
	text-decoration: none;
}

.project-tech-icons i {
	margin: 5px;
}

.project-description {
	font-size: .5rem;
	padding: 5px;
}

.cc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fade-enter {
	opacity: 0;
}
.fade-exit {
	opacity: 1;
}
.fade-enter-active {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
}
.fade-enter-active {
	transition: opacity 600ms ease-in-out;
}
.fade-exit-active {
	transition: opacity 600ms ease-in-out;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
	cursor: pointer;
}
