.project-list-container {
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.arrow-container i {
	padding: 0px 20px;
	border: 1px solid black;
	margin-top: 10px;
}

.arrow-container i:hover {
	background-color: white;
}

.project-links {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

.project-card {
	/* display: flex; */
	/* height: 50%; */
	/* grid-template-columns: 200px 150px;
	grid-template-rows: 150px 25px;
	padding: 5px; */
	border-radius: 5px;
	/* margin: 0px 25px; */
	/* background-color: #70c1b3; */
	color: white;
	/* width: 100%; */
	height: 60%;
	max-width: 520px;
	/* padding: 15px; */
	position: relative;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	width: 100%;
}

.project-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: cover;
	border-radius: 5px;
	/* width: 80%; */
	margin: 0 auto;
	/* z-index: 100; */
}

.project-links a {
	/* flex: 1; */
	text-align: center;
	text-decoration: none;
	height: 100%;
}

.project-links a:hover {
	background-color: gray;
}

.project-tech-icons i {
	margin: 5px;
}

.project-tech-icons {
	display: flex;
	align-items: center;
}

.project-bottom-bar {
	display: flex;
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	justify-content: space-between;
	background-color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px;
}

/* .project-tech-icons {
	margin-left: auto;
} */

.project-links a {
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
}

.project-description {
	font-size: 1rem;
	padding: 5px;
	text-align: center;
	padding-top: 25%;
	width: 100%;
	font-weight: bold;
}

.cc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	opacity: 1;
}

.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
}

.fade-enter-active {
	transition: opacity 600ms ease-in-out;
}
.fade-exit-active {
	transition: opacity 600ms ease-in-out;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
	cursor: pointer;
}
